/test/
/Project_for_tests/
lab1/.idea
lab1/out
lab2/.idea
lab2/target
lab3/.idea
lab3/target
lab3/lab3-commons/target
lab3/lab3-commons/dependency-reduced-pom.xml
lab3/lab3-modul2/target
Poker/.idea
Poker/poker-client/target
Poker/poker-common/target
Poker/poker-server/target
Poker/poker-model/target
multithreading problem/library/target
multithreading problem/reader/target
multithreading problem/writer/target
multithreading problem/utils/target
multithreading problem/.idea
lab1/src/META-INF